version: "3.8"

services:
  bot:
    build: .

    volumes:
      - data:/app/data/dynamic

    environment:
      TOKEN: file:/run/secrets/token
      OWNER_IDS: set:int:385807530913169426, int:102733198231863296
      PREFIX: str:+
      GUILD_ID: int:626608699942764544
      MODMAIL_ID: int:700101707727634452
      HUB_GUILD_ID: int:530249508177575952
      HUB_STDOUT_ID: int:657562932413988873
      HUB_RELAY_ID: int:657612250768736271
      HUB_COMMANDS_ID: int:657611609094619146

    secrets:
      - token

secrets:
  token:
    file: ./secrets/token

volumes:
  data:
