# Meta
-r requirements.txt

# Sessions
nox==2022.1.7

# Docs
furo
sphinx<5,>=4

# Formatting
black==22.3.0

# Imports
flake8~=4.0
isort~=5.9

# Typing
mypy==0.942
types-aiofiles~=0.8.6
types-pytz==2021.3.6

# Line lengths
len8~=0.7.3

# Spelling
codespell~=2.1.0

# Safety
safety~=1.10.0

# Security
bandit~=1.7.2

# Dependencies
deputil~=0.2.0
