aiofiles~=22.1.0
aiosqlite~=0.17.0
apscheduler>=3.8,<4
feedparser>=6.0,<7
hikari[speedups]==2.0.0.dev110
hikari-lightbulb>=2.2.1,<3
psutil>=5.8,<6
pygithub>=1.55,<2
pygount>=1.2,<2
python-dotenv~=0.21.0
rapidfuzz>=2.0.7,<3
uvloop~=0.17.0; os_name != "nt"
